@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap')

$layout-breakpoint-medium: 600px

body
    background-color: #040451
    padding: 0
    margin: 0
/*************************************/
/*               Index                /
/*************************************/

// contaier
.coontainer
    margin: 0
    height: 100vh
    //padding: 10em
    display: grid
    grid-template-columns: 1fr 1fr
    background: #040451
    box-sizing: border

.coontainer h1
    color: #FFF
    font-size: 50px 
    font-family: "Lato", sans-serif
    font-weight: bold

// btn and btn-holder (right half of the site)
.box1
    background: #05055a
    box-sizing: border-box
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.button
    background: #F1E9DB
    padding: 10px
    margin-top: 5vh
    font-size: 20px
    color: black
    border-radius: 20px
    text-align: center
    text-decoration: none
    width: 50%

.button-wrapper
    margin: auto
    width: 40vw
    text-align: center

// Linkt to the other site
.button a
    text-decoration: none    
    color: #000          

.button a:hover
    text-decoration: none    
    color: #0c0ccf   


// Right half of the site
.title1
    margin: auto
    width: 380px
    text-align: center

/*************************************/
/*               Menu                 /
/*************************************/

.kontainer
    margin: 0
    //padding: 10em
    background-color : #040446
    box-sizing: border-box

// Welcome part
.introduction
    margin: auto
    width: 98vh
    text-align: center

.introduction h1
    color: #FFF
    font-size: 70px 
    font-family: "Lato", sans-serif
    font-weight: bold
   
    
.introduction h2
    color: #FFF
    font-family: "Lato", sans-serif
    margin-bottom: 30px
    font-weight: bold
    /** font-style: italic **/

// Arrow animation
.arrow,
.arrow:before
  position: absolute
  left: 50%

.arrow
  width: 40px
  height: 40px
  top: 88%
  margin: -20px 0 0 -20px
  -webkit-transform: rotate(45deg)
  border-left: none
  border-top: none
  border-right: 2px #fff solid
  border-bottom: 2px #fff solid
  cursor: pointer
  
.arrow:before
  content: ''
  width: 20px
  height: 20px
  top: 50%
  margin: -10px 0 0 -10px
  border-left: none
  border-top: none
  border-right: 1px #fff solid
  border-bottom: 1px #fff solid
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-name: arrow
  
@keyframes arrow
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translate(-10px, -10px)
    


// footer, down on the site
    
footer 
    padding: 100px
    margin-bottom: 0
    /** border-top: 2px solid black **/

// First half/section for menu site
#sec1
    background-position: 50%
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    height: 98vh
    background: #040446
    background-blend-mode: multiply
    transform: translateZ(-1px)
    display: flex
    justify-content: center

// Second half/section for menu site
#sec2
    background-color: #03034dd7

main
    padding: 10px
    
// Menu slider on the left side 
.sidenav 
    height: 100%
    width: 0
    position: fixed
    z-index: 1
    top: 0
    left: 0
    background-color: #111
    overflow-x: hidden
    transition: 0.5s
    padding-top: 60px

.sidenav a 
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: 25px
    color: #818181
    display: block
    transition: 0.3s
        

.sidenav a:hover 
    color: #f1f1f1
        

.sidenav .closebtn 
    position: absolute
    top: 0
    right: 25px
    font-size: 36px
    margin-left: 50px

// open button and text
span 
    color: white
    margin: 20px

@media screen and (max-height: 450px) 
    .sidenav 
        padding-top: 15px
            

    .sidenav a 
        font-size: 18px

/** moving box-menu: just box **/ 
//right one
.item1 
    width: 29vw 
    height: 32vh
    margin:  auto
    padding-top: 14px
    text-align: center
    font-size: 3em
    margin-top: 90px
    margin-bottom: 200px
    margin-left: 200px
  
// Left one
.item2 
    background-image: url(../bilder/nathan-anderson-ohx4v80mJm8-unsplash.jp)
    width: 29vw 
    height: 32vh
    margin: auto
    padding-top: 14px
    text-align: center
    font-size: 3em
    margin-top: 90px
    margin-bottom: 200px
    margin-right: 200px


// Moving box menu: img      
.item1 img
    border: 4px solid #ddd
    background: #FFF
    border-radius: 4px
    padding: 5px                
    width: 30vw                
                      
.item2 img
    border: 4px solid #ddd
    background: #FFF
    border-radius: 4px
    padding: 5px                
    width: 30vw                
                      
// figcaption/text for the sliders
figcaption
    color: white
    font-family: "Lato", sans-serif
   
.item2 a
    font-family: "Lato", sans-serif
    text-decoration: none

.item1 a
    font-family: "Lato", sans-serif
    text-decoration: none

/*************************************/
/*              Earth                 /
/*************************************/
.kontainer h3
    color: #FFF
    font-size: 80px 
    font-family: "Lato", sans-serif
    font-weight: bold

.item3 
    width: 49vw 
    height: 32vh
    padding-top: 14px
    text-align: center
    font-size: 3em
    /**margin-top: 90px **/   
    margin: 80px 0 200px 200px

.m-h1 
    font-size: 40px 
    font-weight: bold
    font-family: "Lato", sans-serif
    color: #FFF
    margin-bottom: 15px
    text-decoration: underline 3px

.fig 
    font-family: "Lato", sans-serif
    color: #fff
    font-size: 0.6em
    margin-bottom: 15px
    width: 35vw



/*************************************/
/*            Log in modal            /
/*************************************/
.inloggningsBox 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 400px
    padding: 40px
    background: #F1E9DB
    box-sizing: border-box
    box-shadow: 0 15px 25px rgba(78, 76, 76, 0.5)
    border-radius: 10px


.inloggningsBox .inputBox 
    position: relative

.inloggningsBox .inputBox input 
    width: 100%
    padding: 10px 0
    font-size: 16px
    color: #000
    letter-spacing: 1px 
    margin-bottom: 30px
    border: none
    border-bottom: 1px solid #000
    outline: none
    background: transparent

.inloggningsBox .inputBox label 
    position: absolute
    top: 0
    left: 0
    padding: 10px 0
    font-size: 16px
    color: #000
    pointer-events: none
    transition: .5s

.inloggningsBox .inputBox input:focus ~ label, .inloggningsBox .inputBox input:valid ~ label 
    top: -18px
    left: 0
    color: #05055A
    font-size: 12px

.inloggningsBox input[type="submit"] 
    background: transparent
    border: none
    outline: none
    color: #05055A
    background: none
    padding: 10px 20px
    cursor: pointer
    border-radius: 5px
    border: 1px solid #05055A


.inloggningsBox input[type="submit"]:hover 
    background-color: #05055A
    color: white


/* modal */
.modal-content.inloggningsBox 
    background: #f5efefe7
    margin-top: 320px

    /* Popup container - can be anything you want */
.popup 
    position: relative
    display: inline-block
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    font-size: 19px
    background-color: #e6dede
    border-radius: 10px 
    padding: 0.2em 1em
    font-weight: lighter 
    

.popup:hover
    background: none
    border: 3px solid #DDD
    color: #FFF


/* The actual popup */
.popup .popuptext 
    visibility: hidden
    width: 450px
    background-color: #555
    color: #fff
    text-align: center
    border-radius: 6px
    padding: 8px 0
    position: absolute
    z-index: 1
    bottom: 125%
    left: 50%
    margin-left: -80px
    font-size: 20px


/* Popup arrow */
.popup .popuptext::after 
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: #555 transparent transparent transparent


/* Toggle this class - hide and show the popup */
.popup .show 
    visibility: visible
    -webkit-animation: fadeIn 1s
    animation: fadeIn 1s

.images img
    display: grid
    padding: auto
    margin: 120px 0 200px 100px
    width: 60%

@media (max-width: $layout-breakpoint-medium)
    .coontainer
        grid-template-columns: 1fr
        h1
            font-size: 30px
    .box1
        flex-direction: row
        
    .title1
        height: 99vh
        text-align: center
        width: 100vw

    .button-down
        display: block
    
    .button-wrapper
        width: 70%

    .button
        font-size: 18px

@media (max-width: $layout-breakpoint-medium  )
    .holder
        grid-template-columns: 1fr 
        
        
    .fig
        font-size: 0.5em


.pTitle
    font-family: "Lato", sans-serif
    font-weight: bold
    font-size: 30px

.pText
    font-family: "Lato", sans-serif
    font-size: 25px

.pDate
    font-family: "Lato", sans-serif
    font-size: 20px

.holder
    display: flex
    flex-direction: row


.button-down
    display: none

.modal-content .errors
    color: red