body
    background-color: #040451
    padding: 0
    margin: 0

.container
    margin: 0
    width: 200vw
    height: 100vh
    // padding: 1em
    display: grid
    grid-template-columns: auto auto
    background: #040451

.box
    grid-column: 2
    background: #17175ac4

h1
    margin: auto
    color: #FFF

.button
    background: #F1E9DB
    padding: 10px
    margin-top: 5vh
    font-size: 20px
    color: black
    border-radius: 20px
    text-align: center
    text-decoration: none
    width: 50%
